/* Estilo para impressora */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

menu {
    display: none;
}

p {
    padding: 10px;
    text-align: justify;
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi criado por gustavo";
}

