* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p {
    padding: 10px;
    text-align: justify;
}

header {
    background-color: lightcyan;
}

header h1 {
    text-align: center;
}

menu ul {
    background-color: gray;
}

menu li {
    list-style-type: none;
    background-color: rgb(98, 96, 96);
    color: whitesmoke;
    padding: 10px;
    display: inline-block;
}

main {
    width: 600px;
    display: block;
    margin: auto;
}

main h2 {
    margin-top: 10px;
    text-indent: 10px;
}