@charset "UTF-8";

@media all {
    * {
        margin: 0px;
        padding: 0px;
        }
    
        html, body {
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        h1 {
            color: white;
            font-size: 2.5em;
            text-shadow: 2px 2px 0px #192bb4a4;
            padding: 10px;
        }
}

    @media screen and (orientation: portrait) { 
        body {
            background-image: url(../imagens/cev-portrait.jpg);
            background-position: center bottom;
        }

        h1 {
            font-size: 1.9em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    @media screen and (orientation: landscape) {
        body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}
    }